<!DOCTYPE html>
<html>
<head>
    <title>Employee Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="form-box">
    <h2>Register</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have account? <a href="/login">Login</a></p>
</div>
</body>
</html>